.notesPage{
   display: flex;
   height: 100vh;
}

.barraLateral{
   width: 17%;
   margin: 5px;
   /* background-color: red; */
}

.contenidoNota{
   width: 83%;
   background-color: blue;
}

.listNotes{
   margin-top: 10px;
}