.notesPage{
   display: flex;
   height: 100vh;
}

.barraLateral{
   width: 17%;
   margin: 5px;
   overflow: hidden;
}

.contenidoNota{
   width: 83%;
   background-color: #eee;
}

.search{
   height: 7%;
}

.listNotes{
   height: 93%;
   margin-top: 10px;
   overflow-y: scroll;
}