.notesPage{
   display: flex;
   height: 100vh;
}

.barraLateral{
   width: 17%;
   margin: 5px;
   overflow: hidden;
}

.contenidoNota{
   position: relative;
   width: 83%;
   background-color: #eee;
   padding: 10px;
}

.search{
   height: 7%;
}

.listNotes{
   height: 93%;
   margin-top: 10px;
   overflow-y: scroll;
}

.addNota {
   position: absolute!important;
   bottom: 20px;
   right: 20px;
}